# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/
.conda/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# Data (adjust as needed)
# add user-generated results file dirs, keep only an "answer key"
output/*
!output/.gitkeep

# Secrets
.env
*.env
secrets.py
config.py
