# Python
__pycache__/
*.py[cod]
*.pyo
.eggs/
*.pyc

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.env
.venv
env/
venv/
.conda/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.code-workspace

# add user-generated results file dirs, keep only an "answer key"
output/*
!output/.gitkeep

# EVo outputs to root
results_gassing_chemistry.csv
results_jacnewton3.csv
results_saturation_pressures.csv

# Secrets
.env
*.env
secrets.py
config.py
Sulfur_X-main/Kilauea.csv
Sulfur_X-main/results_folder/test_Fuego_closedT1163_dFMQ0.2_H2O0.5_CO2403_fO2track_initial.csv
Sulfur_X-main/results_folder/test_Fuego_closedT1163_dFMQ0.2_H2O0.5_CO2403_fO2track.csv
